!DOCTYPE html>
<html>
    <body>

        <h2>Deployemnt</h2>

        <form method="POST" action = '/predict' >
            <label for="Pregnancies">Pregnancies:</label><br>
            <input type="number" id="Pregnancies" name="Pregnancies" placeholder="Pregnancies" required='required'><br><br>
            <label for="Glucose">Glucose:</label><br>
            <input type="number" id="Glucose" name="Glucose" placeholder="Glucose" required='required'><br><br>
            <label for="BloodPressure">BloodPressure:</label><br>
            <input type="number" id="BloodPressure" name="BloodPressure" placeholder="BloodPressure" required='required'><br><br>
            <label for="SkinThickness">SkinThickness:</label><br>
            <input type="number" id="SkinThickness" name="SkinThickness" placeholder="SkinThickness" required='required'><br><br>
            <label for="Insulin">Insulin:</label><br>
            <input type="number" id="Insulin" name="Insulin" placeholder="Insulin" required='required'><br><br>
            <label for="BMI">BMI:</label><br>
            <input type="number" id="BMI" name="BMI" placeholder="BMI" required='required'><br><br>
            <label for="DiabetesPedigreeFunction">DiabetesPedigreeFunction:</label><br>
            <input type="number" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required='required'><br><br>
            <label for="Age">Age:</label><br>
            <input type="number" id="Age" name="Age" placeholder="Age" required='required'><br><br>

            <button type='submit'>Predict</button>
        </form> 

        
    </body> 
</html>          